<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTarea" parallel="none">
  <test name="Exercises">
    <classes>
      <class name="com.globant.automation.tarea2.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
